.fixedMenu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100px;
  background: rgb(155, 131, 225);
  height: 100%;
  overflow: auto;
  position: fixed;
}

.container {
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 98%;
  min-width: 800px;
  height: 98%;
  min-height: 600px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;

  background-color: aliceblue;
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);
}
