.container {
  overflow: scroll;
  width: 100%;
  display: flex;
  border: 1px solid #003458;
}

.fixedMenu {
  width: 100%;
  float: left;
  box-sizing: border-box;
  background: #8977ad;
}

.detail {
  width: 100%;
  float: right;
  box-sizing: border-box;
  background: #ece6cc;
}
