.field{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  height: 100vh;
  min-height : 650px;
  width: 100vw;
  min-width : 800px;
  
  position: relative;
}

.none{
  width: 100%;
  height: 100%;
  background-color: white;
}