/*전체 페이지*/
.signUpBoxCover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  min-width: 800px;
  height: 80%;
  min-height: 600px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;

  background-color :aliceblue;
  border : 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);
}

/*postition: relative가 필요한 모든 곳*/
.Cover{
  position: relative;
}

/************************************************************/
/*제목 영역*/
.title{
  text-shadow: -1px 0px #FFFFFF, 0px 1px #FFFFFF, 1px 0px #FFFFFF, 0px -1px #FFFFFF;
  font-weight: 900;
  font-size : 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
}

/************************************************************/
/*로그인 영역*/
.signupMain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  width: 90%;
  padding: 20px;
  background-color: #DCF0F4;
  border-radius : 0.25rem;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}

/*label과 Input, 오른쪽에 버튼을 위한 공간이 있는 라인*/
.labelInputArea{
  position: absolute;
  display: grid;
  grid-template-columns: 4fr 12fr 3fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

/*label과 Input만 있는 공간이 있는 라인*/
.labelInputOnlyArea{
  position: absolute;
  display: grid;
  grid-template-columns: 4fr 15fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

/*label과 input만 있는데 2개로 나뉘어야할 때 이걸로 먼저 쪼갠다.*/
.onelineTwoInputArea{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.formLabel{
  font-weight: 900;

  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
}

.formInput{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 70%;
  width: 100%;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);
}
.formInput:focus{
  outline: none;
}

.formInputRadio{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/*************************************************************/
/*버튼 영역*/
.buttonCover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.btn{
  background-color:#B0E0E6;
  border : 2px solid white;
  border-radius: 0.5rem;
  width: 90px;
  height: 35px;
  box-shadow: 3px 3px 3px rgb(200, 200, 200);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
